POJO_WS_Credit/src/META-INF/wsdl/localhost_8080/WS_Credit/WSCredito.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wscredit/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wscredit/" name="WSCredito">
<types>
<xsd:schema>
<xsd:import namespace="http://wscredit/" schemaLocation="http://localhost:8080/WS_Credit/WSCredito?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="autoriza">
<part name="parameters" element="tns:autoriza"/>
</message>
<message name="autorizaResponse">
<part name="parameters" element="tns:autorizaResponse"/>
</message>
<message name="ExcepNoCredit">
<part name="fault" element="tns:ExcepNoCredit"/>
</message>
<message name="ExcepNoClient">
<part name="fault" element="tns:ExcepNoClient"/>
</message>
<message name="autoriza_double">
<part name="parameters" element="tns:autoriza_double"/>
</message>
<message name="autoriza_doubleResponse">
<part name="parameters" element="tns:autoriza_doubleResponse"/>
</message>
<portType name="WSCredit">
<operation name="remove">
<input wsam:Action="http://wscredit/WSCredit/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wscredit/WSCredit/countRequest" message="tns:count"/>
<output wsam:Action="http://wscredit/WSCredit/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wscredit/WSCredit/findRequest" message="tns:find"/>
<output wsam:Action="http://wscredit/WSCredit/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wscredit/WSCredit/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wscredit/WSCredit/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wscredit/WSCredit/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wscredit/WSCredit/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wscredit/WSCredit/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wscredit/WSCredit/edit" message="tns:edit"/>
</operation>
<operation name="autoriza">
<input wsam:Action="http://wscredit/WSCredit/autorizaRequest" message="tns:autoriza"/>
<output wsam:Action="http://wscredit/WSCredit/autorizaResponse" message="tns:autorizaResponse"/>
<fault message="tns:ExcepNoCredit" name="ExcepNoCredit" wsam:Action="http://wscredit/WSCredit/autoriza/Fault/ExcepNoCredit"/>
<fault message="tns:ExcepNoClient" name="ExcepNoClient" wsam:Action="http://wscredit/WSCredit/autoriza/Fault/ExcepNoClient"/>
</operation>
<operation name="autoriza_double">
<input wsam:Action="http://wscredit/WSCredit/autoriza_doubleRequest" message="tns:autoriza_double"/>
<output wsam:Action="http://wscredit/WSCredit/autoriza_doubleResponse" message="tns:autoriza_doubleResponse"/>
<fault message="tns:ExcepNoCredit" name="ExcepNoCredit" wsam:Action="http://wscredit/WSCredit/autoriza_double/Fault/ExcepNoCredit"/>
<fault message="tns:ExcepNoClient" name="ExcepNoClient" wsam:Action="http://wscredit/WSCredit/autoriza_double/Fault/ExcepNoClient"/>
</operation>
</portType>
<binding name="WSCreditPortBinding" type="tns:WSCredit">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="autoriza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExcepNoCredit">
<soap:fault name="ExcepNoCredit" use="literal"/>
</fault>
<fault name="ExcepNoClient">
<soap:fault name="ExcepNoClient" use="literal"/>
</fault>
</operation>
<operation name="autoriza_double">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ExcepNoCredit">
<soap:fault name="ExcepNoCredit" use="literal"/>
</fault>
<fault name="ExcepNoClient">
<soap:fault name="ExcepNoClient" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSCredito">
<port name="WSCreditPort" binding="tns:WSCreditPortBinding">
<soap:address location="http://localhost:8080/WS_Credit/WSCredito"/>
</port>
</service>
</definitions>