POJO_WS_Reservation/src/META-INF/wsdl/localhost_8080/WS_Reservation/WSReservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsreservation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsreservation/" name="WSReservation">
<types>
<xsd:schema>
<xsd:import namespace="http://wsreservation/" schemaLocation="http://localhost:8080/WS_Reservation/WSReservation?xsd=1"/>
</xsd:schema>
</types>
<message name="listCustomers">
<part name="parameters" element="tns:listCustomers"/>
</message>
<message name="listCustomersResponse">
<part name="parameters" element="tns:listCustomersResponse"/>
</message>
<message name="listVehicles">
<part name="parameters" element="tns:listVehicles"/>
</message>
<message name="listVehiclesResponse">
<part name="parameters" element="tns:listVehiclesResponse"/>
</message>
<message name="listReservations">
<part name="parameters" element="tns:listReservations"/>
</message>
<message name="listReservationsResponse">
<part name="parameters" element="tns:listReservationsResponse"/>
</message>
<message name="createReservation">
<part name="parameters" element="tns:createReservation"/>
</message>
<message name="createReservationResponse">
<part name="parameters" element="tns:createReservationResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<portType name="WSReservation">
<operation name="listCustomers">
<input wsam:Action="http://wsreservation/WSReservation/listCustomersRequest" message="tns:listCustomers"/>
<output wsam:Action="http://wsreservation/WSReservation/listCustomersResponse" message="tns:listCustomersResponse"/>
</operation>
<operation name="listVehicles">
<input wsam:Action="http://wsreservation/WSReservation/listVehiclesRequest" message="tns:listVehicles"/>
<output wsam:Action="http://wsreservation/WSReservation/listVehiclesResponse" message="tns:listVehiclesResponse"/>
</operation>
<operation name="listReservations">
<input wsam:Action="http://wsreservation/WSReservation/listReservationsRequest" message="tns:listReservations"/>
<output wsam:Action="http://wsreservation/WSReservation/listReservationsResponse" message="tns:listReservationsResponse"/>
</operation>
<operation name="createReservation">
<input wsam:Action="http://wsreservation/WSReservation/createReservationRequest" message="tns:createReservation"/>
<output wsam:Action="http://wsreservation/WSReservation/createReservationResponse" message="tns:createReservationResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://wsreservation/WSReservation/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://wsreservation/WSReservation/cancelReservationResponse" message="tns:cancelReservationResponse"/>
</operation>
</portType>
<binding name="WSReservationPortBinding" type="tns:WSReservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listVehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSReservation">
<port name="WSReservationPort" binding="tns:WSReservationPortBinding">
<soap:address location="http://localhost:8080/WS_Reservation/WSReservation"/>
</port>
</service>
</definitions>