CarRentalFi/retrieved/src/localhost_8080/WS_Customer_Vehicle/WS_customer_vehicles.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_customer_vehicles/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_customer_vehicles/" name="WS_customer_vehicles">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_customer_vehicles/" schemaLocation="http://localhost:8080/WS_Customer_Vehicle/WS_customer_vehicles?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listCustomers">
<part name="parameters" element="tns:listCustomers"/>
</message>
<message name="listCustomersResponse">
<part name="parameters" element="tns:listCustomersResponse"/>
</message>
<message name="listVehicles">
<part name="parameters" element="tns:listVehicles"/>
</message>
<message name="listVehiclesResponse">
<part name="parameters" element="tns:listVehiclesResponse"/>
</message>
<message name="ver_coches">
<part name="parameters" element="tns:ver_coches"/>
</message>
<message name="ver_cochesResponse">
<part name="parameters" element="tns:ver_cochesResponse"/>
</message>
<message name="VehicleExistance">
<part name="parameters" element="tns:VehicleExistance"/>
</message>
<message name="VehicleExistanceResponse">
<part name="parameters" element="tns:VehicleExistanceResponse"/>
</message>
<message name="VehicleExistanceException">
<part name="fault" element="tns:VehicleExistanceException"/>
</message>
<message name="CustomerExistance">
<part name="parameters" element="tns:CustomerExistance"/>
</message>
<message name="CustomerExistanceResponse">
<part name="parameters" element="tns:CustomerExistanceResponse"/>
</message>
<message name="CustomerExistanceException">
<part name="fault" element="tns:CustomerExistanceException"/>
</message>
<portType name="WS_customer_vehicles">
<operation name="hello">
<input wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listCustomers">
<input wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/listCustomersRequest" message="tns:listCustomers"/>
<output wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/listCustomersResponse" message="tns:listCustomersResponse"/>
</operation>
<operation name="listVehicles">
<input wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/listVehiclesRequest" message="tns:listVehicles"/>
<output wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/listVehiclesResponse" message="tns:listVehiclesResponse"/>
</operation>
<operation name="ver_coches">
<input wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/ver_cochesRequest" message="tns:ver_coches"/>
<output wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/ver_cochesResponse" message="tns:ver_cochesResponse"/>
</operation>
<operation name="VehicleExistance">
<input wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/VehicleExistanceRequest" message="tns:VehicleExistance"/>
<output wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/VehicleExistanceResponse" message="tns:VehicleExistanceResponse"/>
<fault message="tns:VehicleExistanceException" name="VehicleExistanceException" wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/VehicleExistance/Fault/VehicleExistanceException"/>
</operation>
<operation name="CustomerExistance">
<input wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/CustomerExistanceRequest" message="tns:CustomerExistance"/>
<output wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/CustomerExistanceResponse" message="tns:CustomerExistanceResponse"/>
<fault message="tns:CustomerExistanceException" name="CustomerExistanceException" wsam:Action="http://ws_customer_vehicles/WS_customer_vehicles/CustomerExistance/Fault/CustomerExistanceException"/>
</operation>
</portType>
<binding name="WS_customer_vehiclesPortBinding" type="tns:WS_customer_vehicles">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listVehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ver_coches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VehicleExistance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VehicleExistanceException">
<soap:fault name="VehicleExistanceException" use="literal"/>
</fault>
</operation>
<operation name="CustomerExistance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerExistanceException">
<soap:fault name="CustomerExistanceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WS_customer_vehicles">
<port name="WS_customer_vehiclesPort" binding="tns:WS_customer_vehiclesPortBinding">
<soap:address location="http://localhost:8080/WS_Customer_Vehicle/WS_customer_vehicles"/>
</port>
</service>
</definitions>