POJO_WS_Reservations/src/META-INF/wsdl/localhost_8080/WS_Reservations/WS_Reservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsreservation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsreservation/" name="WS_Reservation">
<types>
<xsd:schema>
<xsd:import namespace="http://wsreservation/" schemaLocation="http://localhost:8080/WS_Reservations/WS_Reservation?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="pickupReservation">
<part name="parameters" element="tns:pickupReservation"/>
</message>
<message name="pickupReservationResponse">
<part name="parameters" element="tns:pickupReservationResponse"/>
</message>
<message name="ReservationRequest">
<part name="parameters" element="tns:ReservationRequest"/>
</message>
<message name="ReservationRequestResponse">
<part name="parameters" element="tns:ReservationRequestResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="mis_reservaciones">
<part name="parameters" element="tns:mis_reservaciones"/>
</message>
<message name="mis_reservacionesResponse">
<part name="parameters" element="tns:mis_reservacionesResponse"/>
</message>
<message name="reportes_coche">
<part name="parameters" element="tns:reportes_coche"/>
</message>
<message name="reportes_cocheResponse">
<part name="parameters" element="tns:reportes_cocheResponse"/>
</message>
<message name="dropReservation">
<part name="parameters" element="tns:dropReservation"/>
</message>
<message name="dropReservationResponse">
<part name="parameters" element="tns:dropReservationResponse"/>
</message>
<portType name="WS_Reservation">
<operation name="remove">
<input wsam:Action="http://wsreservation/WS_Reservation/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wsreservation/WS_Reservation/countRequest" message="tns:count"/>
<output wsam:Action="http://wsreservation/WS_Reservation/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wsreservation/WS_Reservation/findRequest" message="tns:find"/>
<output wsam:Action="http://wsreservation/WS_Reservation/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsreservation/WS_Reservation/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://wsreservation/WS_Reservation/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsreservation/WS_Reservation/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="pickupReservation">
<input wsam:Action="http://wsreservation/WS_Reservation/pickupReservationRequest" message="tns:pickupReservation"/>
<output wsam:Action="http://wsreservation/WS_Reservation/pickupReservationResponse" message="tns:pickupReservationResponse"/>
</operation>
<operation name="ReservationRequest">
<input wsam:Action="http://wsreservation/WS_Reservation/ReservationRequestRequest" message="tns:ReservationRequest"/>
<output wsam:Action="http://wsreservation/WS_Reservation/ReservationRequestResponse" message="tns:ReservationRequestResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://wsreservation/WS_Reservation/helloRequest" message="tns:hello"/>
<output wsam:Action="http://wsreservation/WS_Reservation/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wsreservation/WS_Reservation/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wsreservation/WS_Reservation/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsreservation/WS_Reservation/edit" message="tns:edit"/>
</operation>
<operation name="mis_reservaciones">
<input wsam:Action="http://wsreservation/WS_Reservation/mis_reservacionesRequest" message="tns:mis_reservaciones"/>
<output wsam:Action="http://wsreservation/WS_Reservation/mis_reservacionesResponse" message="tns:mis_reservacionesResponse"/>
</operation>
<operation name="reportes_coche">
<input wsam:Action="http://wsreservation/WS_Reservation/reportes_cocheRequest" message="tns:reportes_coche"/>
<output wsam:Action="http://wsreservation/WS_Reservation/reportes_cocheResponse" message="tns:reportes_cocheResponse"/>
</operation>
<operation name="dropReservation">
<input wsam:Action="http://wsreservation/WS_Reservation/dropReservationRequest" message="tns:dropReservation"/>
<output wsam:Action="http://wsreservation/WS_Reservation/dropReservationResponse" message="tns:dropReservationResponse"/>
</operation>
</portType>
<binding name="WS_ReservationPortBinding" type="tns:WS_Reservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pickupReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ReservationRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="mis_reservaciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportes_coche">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dropReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Reservation">
<port name="WS_ReservationPort" binding="tns:WS_ReservationPortBinding">
<soap:address location="http://localhost:8080/WS_Reservations/WS_Reservation"/>
</port>
</service>
</definitions>