POJO_WS_Rent/xml-resources/web-service-references/WSRent/wsdl/localhost_8080/WS_Rent/WSRent.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsrent/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsrent/">

<xs:element name="activeRent" type="tns:activeRent"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="customers" type="tns:customers"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="listReservations" type="tns:listReservations"/>

<xs:element name="listReservationsResponse" type="tns:listReservationsResponse"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="reservations" type="tns:reservations"/>

<xs:element name="solicitudEntrega" type="tns:solicitudEntrega"/>

<xs:element name="solicitudEntregaResponse" type="tns:solicitudEntregaResponse"/>

<xs:element name="vehicles" type="tns:vehicles"/>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:activeRent" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activeRent">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="cityRegion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="idReservation" type="xs:int"/>
<xs:element name="idTda" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:activeRent" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:activeRent" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:activeRent" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:activeRent" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:activeRent" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitudEntrega">
<xs:sequence>
<xs:element name="id_Tda" type="xs:int"/>
<xs:element name="id_Reservation" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="city_region" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitudEntregaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listReservations">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservations" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservations">
<xs:sequence>
<xs:element name="customerId" type="tns:customers" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="report" type="xs:string" minOccurs="0"/>
<xs:element name="reservationId" type="xs:int" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="vehicleId" type="tns:vehicles" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customers">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="bankAccount" type="xs:string" minOccurs="0"/>
<xs:element name="customerId" type="xs:int" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="licenseNumber" type="xs:string" minOccurs="0"/>
<xs:element name="nationality" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vehicles">
<xs:sequence>
<xs:element name="brand" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="dailyRate" type="xs:decimal" minOccurs="0"/>
<xs:element name="fuelType" type="xs:string" minOccurs="0"/>
<xs:element name="lastServiceDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="licensePlate" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="vehicleId" type="xs:int" minOccurs="0"/>
<xs:element name="years" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>