POJO_WS_Reservations/xml-resources/web-service-references/WS_Reservation/wsdl/localhost_8080/WS_Reservations/WS_Reservation.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsreservation/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsreservation/">

<xs:element name="ReservationRequest" type="tns:ReservationRequest"/>

<xs:element name="ReservationRequestResponse" type="tns:ReservationRequestResponse"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="dropReservation" type="tns:dropReservation"/>

<xs:element name="dropReservationResponse" type="tns:dropReservationResponse"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="mis_reservaciones" type="tns:mis_reservaciones"/>

<xs:element name="mis_reservacionesResponse" type="tns:mis_reservacionesResponse"/>

<xs:element name="pickupReservation" type="tns:pickupReservation"/>

<xs:element name="pickupReservationResponse" type="tns:pickupReservationResponse"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="reportes_coche" type="tns:reportes_coche"/>

<xs:element name="reportes_cocheResponse" type="tns:reportes_cocheResponse"/>

<xs:element name="reservation" type="tns:reservation"/>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="active" type="xs:boolean" minOccurs="0"/>
<xs:element name="customerId" type="xs:int"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="finished" type="xs:boolean" minOccurs="0"/>
<xs:element name="report" type="xs:string" minOccurs="0"/>
<xs:element name="reservationId" type="xs:int" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="vehicleId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationRequest">
<xs:sequence>
<xs:element name="id_Tda" type="xs:int"/>
<xs:element name="vehicle_id" type="xs:int"/>
<xs:element name="customer_id" type="xs:int"/>
<xs:element name="start_date" type="xs:string" minOccurs="0"/>
<xs:element name="end_date" type="xs:string" minOccurs="0"/>
<xs:element name="report" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationRequestResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reportes_coche">
<xs:sequence>
<xs:element name="vehicle_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reportes_cocheResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mis_reservaciones">
<xs:sequence>
<xs:element name="customer_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mis_reservacionesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dropReservation">
<xs:sequence>
<xs:element name="reservation_id" type="xs:int"/>
<xs:element name="return_date" type="xs:string" minOccurs="0"/>
<xs:element name="final_report" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dropReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pickupReservation">
<xs:sequence>
<xs:element name="reservation_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pickupReservationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>